/* global formatting settings*/
* {
    font-family: Helvetica, sans-serif;
}

.scoreboard,
.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#red_info {
    background-color: red;
}

#blue_info {
    background-color: skyblue;
}

.red {
    color: red;
}

.blue {
    color: blue;
}
